.btn {
  border: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 16px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    background-color: $primary-color;
    color: white;
  }

  &.btn-secondary {
    background-color: $primary-color-dark-transparent;
    color: $primary-color;
  }
}