.btn {
  border: none;
  display: inline-block;
  border-radius: $border-radius;
  font-size: 0.8em;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &.btn-primary {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: $secondary-color-dark-1;
    }
  }
}