.btn {
  border: none;
  display: inline-block;
  font-size: 12px;
  padding: 10px 16px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    background-color: $primary-color;
    color: white;
  }

  &.btn-secondary {
    background-color: $primary-color-dark-transparent;
    color: $primary-color;
  }

  &.btn-category {
    margin: 5px 10px 10px 0px;
    padding: 5px 8px;
    background-color: $primary-color-dark-transparent;
    font-weight: bold;
    font-size: large;
    color: black;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: white;
      background-color: $primary-color;
    }
    &.btn-selected {
      color: white;
      background-color: $primary-color;
    }
  }
}