$primary-color-light-2: #fbeed0;
$primary-color-light-1: #f4cd71;
$primary-color: #e3a412;
$primary-color-dark-1: #8e670b;
$primary-color-dark-2: #2f2204;

$secondary-color: #627BB3;

$error: red;
$success: green;