$primary-color-light-2: #B6C7F0;
$primary-color-light-1: #85A0DD;
$primary-color: #5F7EC6;
$primary-color-dark-1: #4061AD;
$primary-color-dark-2: #264A9C;

$secondary-color-light-2: #ACEDED;
$secondary-color: #4EBABA;
$secondary-color-dark-1: #2E9C9C;
$secondary-color-dark-2: #168C8C;

$error: red;
$info: grey;
$success: $secondary-color-dark-1;