$primary-color: #385DE0;
$primary-color-dark-transparent: rgba(56, 93, 224, 0.1);

$secondary-color-light-2: #ACEDED;
$secondary-color: #4EBABA;
$secondary-color-dark-1: #2E9C9C;
$secondary-color-dark-2: #168C8C;

$light-gray-4: #fafafa;
$light-gray-3: #f7f7f7;
$light-gray-2: #e8e8e8;
$light-gray-1: #b8b8b8;
$gray: #777;
$dark-gray-1: #333;
$dark-gray-2: #111;

$pale-error: #f3dbd8;
$error: red;
$dark-error: #270f0c;

$pale-info: #eee;
$info: grey;
$dark-info: #333;

$dark-success: #0c2727;
$success: #2E9C9C;
$pale-success: #d8f3f3;

$uber-green:  #3AA76D;
$skip-red: #E91431;
$doordash-red: #ff3008;