table {
  &.resource-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          background: $light-gray-1;
          padding: 5px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $light-gray-1;
        td {
          padding: 5px;
        }
      }
    }
  }
}