default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: localeatsottawa_development

test:
  <<: *default
  database: localeatsottawa_test

production:
  <<: *default
  database: localeatsottawa_production
  username: localeatsottawa
  password: <%= ENV['LOCALEATSOTTAWA_DATABASE_PASSWORD'] %>
