<%= javascript_pack_tag 'restaurants' %>

<div id="restaurants-index">
  <div class='new-restaurant-container'>
    <%= link_to new_ticket_path, class: 'btn btn-secondary' do %>
      <i class='far fa-envelope'></i> Submit Feedback
    <% end %>

    <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
      <i class='fas fa-plus'></i> Add restaurant
    <% end %>

  </div>

  <div id='restaurants-mount-point'></div>

  <div id="twitter-feed">
    <a class="twitter-timeline" href="https://twitter.com/LocalEatsYOW?ref_src=twsrc%5Etfw">Tweets by LocalEatsYOW</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

