<%= javascript_pack_tag 'restaurants' %>

<div id="restaurants-index">
  <h1>Welcome to Local Eats Ottawa!</h1>

  <div class='blurb'>
    Hungry? These restaurants offer food delivery or pickup options. You can submit your favourite local restaurant if you don't see it. 
  </div>

  <div class='new-restaurant-container'>
    <%= link_to 'Submit new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>

  <div id='restaurants-mount-point'></div>
  
</div>

