<%= javascript_pack_tag 'restaurants' %>
<div id="restaurants-index">

  <h1>Welcome to Local Eats YOW!</h1>

  <div class='blurb'>
    Curious what restaurants deliver or offer pick and on what apps? Browse below or submit your own!
  </div>

  <div class='new-restaurant-container'>
    <%= link_to 'Submit new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>

  <div id='restaurants-mount-point'></div>
  
</div>
