<%= javascript_pack_tag 'restaurants' %>
<div id="restaurants-index">

  <h1>Welcome to Local Eats Ottawa!</h1>

  <div class='new-restaurant-container'>
    <%= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary' %>
  </div>

  <div id='restaurants-mount-point'></div>
  
</div>
