#restaurants-index {
  h1 {
    text-align: center;
  }

  .new-restaurant-container {
    text-align: center;
  }
  .restaurant {
    margin: 20px 0;

    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        background: #eee;
        td {
          padding: 5px;
        }
      }
  
      tbody {
        tr {
          td {
            padding: 5px;
          }
        }
      }
    }

    .actions {
      margin: 10px 0;
    }
  }
}