.component-pill{
  display: inline-block;
  background: $primary-color;
  color: white;
  padding: 2px 5px 2px 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  i{
    margin-left: 5px;
  }  
}
.uber_eats{
  background: $uber-green;
}
.skip_the_dishes{
  background: $skip-red;
}
.door_dash{
  background: $doordash-red;
}
.foodora {
  background: $foodora-purple;
}

a.component-pill{
  &:hover {
    text-decoration: none;
    color: $primary-color;
    background-color: $primary-color-dark-transparent;
  }
}
