.component-restaurants {
  
  .restaurant-actions {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    position: relative;

    .right-section {

      text-align: right;
    }

    .filters-pop-up {
      position: absolute;
      top: 40px;
      left: 0;
      padding: 10px;
    }
  }

  .component-restaurant {
    margin: 10px 0;
  }

  .loading-restaurant {
    margin: 10px 0;
    height: 200px;
    background: $light-gray-1;
    border-radius: $border-radius;

    animation-name: colorChange;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;

    @keyframes colorChange {
      0% {
        background-color: $light-gray-1;
      }

      100% {
        background-color: $light-gray-3;
      }
    }
  }
}