.component-restaurant {
  padding: 24px 26px;

  .header {
    cursor: pointer;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .contact-details {
      font-size: 13px;
      
      .separator {
        margin: 10px 5px;
      }
    }
  }

  .details {
    background: white;
    overflow: auto;

    table {
      font-size: 0.9em;
      width: 100%;
      border-collapse: collapse;
    
      tbody {
        tr {
          border: none;
  
          td {
            &.check-col {
              text-align: center;
              width: 80px;
            }
          }
        }
      }
    }
  
    .actions {
      margin: 5px 0;
    }
  }

}