.component-restaurant {
  padding: 24px 26px;

  .header {
    cursor: pointer;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .contact-details {
      font-size: 13px;
      
      .separator {
        margin: 10px 5px;
      }
    }
  }

  .details {
    background: white;
    overflow: auto;

    .locations {
      font-size: 0.9em;
      width: 100%;
      border-collapse: collapse;
    
      .component-location {
        margin-bottom: 16px;
      }
    }
  
    .actions {
      margin: 5px 0;
    }
  }

}