body {
  padding: 0;
  margin: 0;
}

/* Banner */
.index-banner {
  padding: 1px;
  text-align: center;
  background: $primary-color-light-2;
  font-weight: bold;
  font-size: 13px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: calc(100% - 20px);
  padding: 0 10px;
}

#header {
  background: $primary-color;
  color: white;
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;;
  }

  .logo {
    height: 40px;
  }

  .nav-links {
    display: flex;
    align-items: center;

    a.nav-link {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 0.8em;

      &:hover {
        color: $light-gray;
      }
    }
  }

}

#content {
  
}

#footer {

}