<div id="locations-new">
  <% if params[:from_restaurant_form] %>
    <div class='notice'>
      😃Thanks for adding <%= @restaurant.name %>! 
      Next, please enter their location and takeout or delivery information below.
    </div>
  <% end %>

  <h1>New <%= @restaurant.name %> Location</h1>


  <%= render 'form', location: @location %>

  <%= link_to 'Back', restaurants_path %>
</div>
